body {
	background-image: url("./../images/beer-cans.jpg");
	padding: 10px;
}
.welcome {
	background-color: black;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	opacity: 0.9;
    border-radius: 10px;
}
.container {
	background-color: #292929;
	border-radius: 10px;
	width: 100%;
	max-width: 1000px;
	padding-left: 25px;
	padding-right: 25px;
}

.beerContainer1 {
	background-color: black;
	outline: 3px ridge #545454;
}

.beerContainer2 {
	background-color: black;
	outline: 3px ridge #545454;
}


#formCategory {
	width: 100%;
	max-width: 300px;
}

#submitCategory {
	width: 100%;
}